<section class="home-section" id="home">
    <div class="container home-container">
        <h1 class="visually-hidden">Tropical Match</h1>
        <div class="home-wrapper">
            <picture>
                <source srcset="
                   /img/home/logo-desk.png 1x,
                   /img/home/logo-desk@2x.png 2x
                   " media="(min-width: 1440px)" />
                <source srcset="
                   /img/home/logo-mob.png 1x,
                    /img/home/logo-mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img class="home-logo" src="/img/home/logo-mob.png" alt="Tropical Match" loading="lazy" />
            </picture>
            <p class="hero-text">Get ready to match your<br/> way through paradise!</p>
            <a class="home-link"
                href="https://play.google.com/store/apps/details?id=com.PuzzlePoint.Tropicmania&hl=en&gl=us">
                <img src="/img/home/playstore.png" alt="playstore" loading="lazy">
                <img src="/img/home/button.png" alt="Google Play" loading="lazy">
            </a>
        </div>
    </div>
</section>
<section class="about-section" id="about">
    <div class="container about-container">
        <div class="about-wrapper">
        <h2>About the Game</h2>
        <p>Yeah, it's basically the same match-3 formula we've all seen before, but something about the tropical theme just works.
        Maybe it's the sound effects or the way everything bounces around. Players move through a lively progression of levels,
        each with unique objectives like clearing specific tiles, collecting set items, or reaching target scores. As players
        advance, new gameplay elements and obstacles are introduced, keeping the experience engaging and fresh.</p>
    </div>
           <picture>
                <source srcset="
                   /img/about/desk.png 1x,
                   /img/about/desk@2x.png 2x
                   " media="(min-width: 1440px)" />
                <source srcset="
                   /img/about/mob.png 1x,
                    /img/about/mob@2x.png 2x
                    " media="(max-width: 1439px)" />
                <img src="/img/about/mob.png" alt="Tropical Match" loading="lazy" />
            </picture>
    </div>
</section>